
.user-types .user-type-card {
    position: relative;
 
   
}
.container-fluid{
    margin-top: -10px;
}
.user-types .cover-card {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: transparent ;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;    
}
.user-types .user-type-card .ut-title {
    display: block;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 600;

}

@media only screen and (max-width:768px){
    .user-types .row {
        gap: 50px 0;
       
    }
}

@media only screen and (max-width:576px){
    .user-types .row > div {
        flex: 0 0 50%;
        max-width: 50%;
       
    }
    .user-types .user-type-card .ut-title {
       
        font-size: 26px;
    }
}

@media only screen and (max-width:360px){
    .user-types .user-type-card .ut-title {
        font-size: 18px;
       
    }
}